<div class="container-fluid">
  <div class="podforumi-header">
    <h1>Dobrodošao <span ng-show="ulogovan">{{korisnik.username}}</span></h1>
    <h4>Pregledaj spisak postojecih podforuma</h4>
  </div>
</div>
<div class="podforumi-wrapper">
  <div class="container-fluid">
  <div class="col-md-12">

    <div class="wrapper" ng-repeat="pf in podforumi">
      <a href="#!/podforumi/{{pf.Naziv}}">
      <div class="col-md-3">
        <div class="podforum">
          <div class="heder">
            <!--<img src="Content/img/podforumi/{{pf.Naziv}}.jpg" alt="">-->
            <h3>{{pf.Naziv}}</h3>
          </div>
          <div class="telo">
            <div class="levo">
              <img src="Content/img/podforumi/{{pf.Naziv}}.jpg" alt="">
            </div>
            <div class="desno"><p>{{pf.Opis}}</p></div>
          </div>
        </div>
      </div>
    </a>
    </div>


  </div>
</div>
</div>