<div class="container-fluid">
  <div class="podforumi-header">
    <div class="add-podforum-btn">
      <button class="btn button-success" ng-show="korisnik.uloga.includes('Administrator')" ng-click="dodavanjePopupVisible = !dodavanjePopupVisible"><i class="ion ion-plus-round"></i> Novi podforum</button>
    </div>

    <h1>Dobrodošao <span ng-show="ulogovan">{{korisnik.username}}</span> <span ng-show="korisnik.uloga.includes('Administrator')">(Admin)</span></h1>
    <h4 ng-show="ulogovan">Pregledaj spisak postojećih podforuma</h4>
    <h4 ng-show="!ulogovan">Ulogujte se da bi ste mogli da vršite više funkcija na forumu</h4>
  </div>
</div>
<div class="podforumi-wrapper">
  <div class="container-fluid">
  <div class="col-md-12">

    <div class="wrapper" ng-repeat="pf in podforumi">
      <a href="#!/podforumi/{{pf.Naziv}}">
      <div class="col-md-3">
        <div class="podforum">
          <div class="heder">
            <!--<img src="Content/img/podforumi/{{pf.Naziv}}.jpg" alt="">-->
            <h3>{{pf.Naziv}}</h3>
          </div>
          <div class="telo">
            <div class="levo">
              <img src="Content/img/podforumi/{{pf.Naziv}}.jpg" alt="">
            </div>
            <div class="desno"><p>{{pf.Opis}}</p></div>
          </div>
        </div>
      </div>
    </a>
    </div>


  </div>
</div>
</div>
<div id="addNewPodforumModal" ng-show="dodavanjePopupVisible">
  <div class="overlay">
    <div class="addNew-wrapper">
            <div class="header">
                Dodaj novi podforum
            </div>
            <div class="popup-body">
              <div class="form-group">
                  <label>Naziv</label>
                  <input type="text" class="form-control" ng-model="podforum.naziv" placeholder="Naziv podforuma">
              </div>

              <div class="form-group">
                  <label>Opis</label>
                  <textarea type="text" class="form-control" ng-model="podforum.opis" placeholder="Opis"></textarea>
              </div>

              <div class="form-group">
                  <label>Slika</label>
                  <input type="file" class="form-control" id="slikaPodforuma" file-input="files" placeholder="Slika">
              </div>

              <div class="form-group">
                  <label>Spisak pravila</label>
                  <textarea type="text" class="form-control" ng-model="podforum.spisakPravila" placeholder="Spisak pravila"></textarea>
              </div>


              <div class="button-holder">
                <div class="col-md-4">
                  <button type="submit" class="btn button-green" ng-click="dodajPodforum(podforum)">Dodaj</button>
                  </div>
                  

                <div class="col-md-4">
                  <button type="button" class="btn button-cancel" ng-click="dodavanjePopupVisible = !dodavanjePopupVisible">Zatvori</button>
                </div>
              
              </div>
              
            </div>
        </div>
  </div>
</div>
