<div class="podforum-header">
  <div class="podforum-bg">
<img src="Content/img/podforumi/{{podforum.Ikonica}}"/>
  <div class="abs">
      <h1>{{podforum.Naziv}}</h1>
      <p>{{podforum.Opis}}</p>
      <button class="btn btn-warning" ng-show="ulogovan" ng-click="sacuvajPodforum(podforum.Naziv,korisnik.username)"><i class="ion ion-archive"></i> Sačuvaj</button>
      <button class="btn btn-danger" ng-show="korisnik.uloga.includes('Administrator') || podforum.OdgovorniModerator == korisnik.username" ng-click="obrisiPodforum(podforum)"> <i class="ion ion-trash-b"></i> Obriši</button>
    </div>
  </div>
  </div>

<div class="container-fluid">
  <div class="content-wrapper">
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="col-md-2">
          <div class="btn button-success" ng-show="ulogovan" ng-click="dodavanjeTemePopupVisible = !dodavanjeTemePopupVisible"><i class="ion ion-plus-round"></i> Nova tema</div>
        </div>
      </div>
      <div class="teme" ng-show="temePodforuma"> 

      <div class="tema-repeat" ng-repeat="tema in temePodforuma | orderBy:'-'">
        <a href="#!/podforumi/{{podforum.Naziv}}/{{tema.Naslov}}">
        <div class="col-md-12">
          <div class="tema">
            <div class="glasovi">
              <div class="up">
                <i class="ion ion-thumbsup" ng-click="thumbUp(tema);$event.preventDefault();"></i>
                <span class="thumbsnum">{{tema.PozitivniGlasovi}}</span>
              </div>
              <div class="down">
                <i class="ion ion-thumbsdown" ng-click="thumbDown(tema);$event.preventDefault();"></i>
                <span class="thumbsnum">{{tema.NegativniGlasovi}}</span>
              </div>
            </div>
            <h4>{{tema.Naslov}}</h4>
            <p>Tip: [{{tema.Tip}}]</p>
            <p>Datum kreiranja: {{tema.DatumKreiranja}}</p>
            <p>Autor: {{tema.Autor}}</p>
          </div>
        </div>
      </a>
      </div>
      

    </div>

    <div class="nemaTema" ng-show="temePodforuma.length == 0"><h2>Trenutno ne postoji ni jedna tema za ovaj podforum.</h2>
    <h3>Promenite to tako što će te dodati novu temu.</h3>
    </div>
  </div>

  <div class="strana">
    <div class="col-md-4">
      
      <div class="box">
        <div class="header">
          <h4>Pravila</h4>
        </div>
        <div class="body">
          <p>{{podforum.SpisakPravila}}</p>
        </div>
      </div>

      <div class="box">
        <div class="header">
          <h4>Moderatori</h4>
        </div>
        <div class="body-moderatori">
          <ul ng-repeat="mod in podforum.Moderatori">
            <a href="#!/profil/{{mod}}"><li>{{mod}}</li></a> <!--ovde ng-repeat-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div id="addNewPodforumModal" ng-show="dodavanjeTemePopupVisible">
  <div class="overlay">
    <div class="addNew-wrapper">
            <div class="header">
                Dodaj novu temu
            </div>
            <div class="popup-body">
              <div class="form-group">
                  <label>Naslov</label>
                  <input type="text" class="form-control" ng-model="tema.naslov" placeholder="Naziv teme">
              </div>

              <div class="form-group">
                <label>Tip teme</label>
                  <select class="form-control" ng-model="tema.tip">
                    <option ng-selected value="Tekst">Tekst</option>
                    <option value="Slika">Slika</option>
                    <option value="Link">Link</option>
                  </select>
              </div>

              <div class="form-group" ng-show="tema.tip == 'Tekst'">
                  <label>Tekst teme</label>
                  <textarea type="text" class="form-control" ng-model="tema.sadrzaj" placeholder="Sadrzaj"></textarea>
              </div>

              <div class="form-group" ng-show="tema.tip == 'Slika'">
                  <label>Slika</label>
                  <input type="file" class="form-control" id="slikaTeme" file-input="files"/>
              </div>

              <div class="form-group" ng-show="tema.tip == 'Link'">
                  <label>Link</label>
                  <input type="text" class="form-control" ng-model="tema.sadrzaj" placeholder="Ubacite link"/>
              </div>


              <div class="button-holder">
                <div class="col-md-4">
                  <button type="submit" class="btn button-green" ng-click="dodajTemu(tema)">Dodaj</button>
                  </div>
                  

                <div class="col-md-4">
                  <button type="button" class="btn button-cancel" ng-click="dodavanjeTemePopupVisible = !dodavanjeTemePopupVisible">Zatvori</button>
                </div>
              
              </div>
              
            </div>
        </div>
  </div>
</div>
