<div class="podforum-header">
  <div class="podforum-bg">
<img src="Content/img/podforumi/{{podforum.Ikonica}}"/>
  <div class="abs">
      <h1>{{podforum.Naziv}}</h1>
      <p>{{podforum.Opis}}</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="content-wrapper">
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="col-md-2">
          <div class="btn button-success" ng-click="dodavanjeTemePopupVisible = !dodavanjeTemePopupVisible"><i class="ion ion-plus-round"></i>Nova tema</div>
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Pretrazi teme...">
        </div>
      </div>
      <div class="teme"> 

      <div class="tema-repeat"><!--ovde ng repeat-->
        <a href="">
        <div class="col-md-12">
          <div class="tema">
            <div class="glasovi">
              <div class="up">
                <i class="ion ion-thumbsup"></i>
                <span class="thumbsnum">500</span>
              </div>
              <div class="down">
                <i class="ion ion-thumbsdown"></i>
                <span class="thumbsnum">15</span>
              </div>
            </div>
            <h4>Naslov</h4>
            <p>Tip: [Tip]</p>
            <p>Datum kreiranja</p>
            <p>Autor</p>
            <p>broj komentara</p>
          </div>
        </div>
      </a>
      </div>
      

    </div>
  </div>

  <div class="strana">
    <div class="col-md-4">
      
      <div class="box">
        <div class="header">
          <h4>Pravila</h4>
        </div>
        <div class="body">
          <p>{{podforum.SpisakPravila}}</p>
        </div>
      </div>

      <div class="box">
        <div class="header">
          <h4>Moderatori</h4>
        </div>
        <div class="body-moderatori">
          <ul>
            <a href="#" ng-repeat="mod in podforum.Moderatori"><li>{{mod}}</li></a> <!--ovde ng-repeat-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div id="addNewPodforumModal" ng-show="dodavanjeTemePopupVisible">
  <div class="overlay">
    <div class="addNew-wrapper">
            <div class="header">
                Dodaj novi podforum
            </div>
            <div class="popup-body">
              <div class="form-group">
                  <label>Naziv</label>
                  <input type="text" class="form-control" ng-model="tema.naziv" placeholder="Naziv teme">
              </div>

              <div class="form-group">
                  <label>Opis</label>
                  <textarea type="text" class="form-control" ng-model="tema.opis" placeholder="Opis"></textarea>
              </div>

              <div class="form-group">
                  <select class="form-control" ng-model="tema.tip">
                    <option ng-selected value="Tekst">Tekst</option>
                    <option value="Slika">Slika</option>
                    <option value="Link">Link</option>
                  </select>
              </div>

              <div class="form-group" ng-show="tema.tip == 'Tekst'">
                  <label>Tekst teme</label>
                  <textarea type="text" class="form-control" ng-model="tema.sadrzaj" placeholder="Sadrzaj"></textarea>
              </div>

              <div class="form-group" ng-show="tema.tip == 'Slika'">
                  <label>Slika</label>
                  <input type="file" class="form-control"/>
              </div>

              <div class="form-group" ng-show="tema.tip == 'Link'">
                  <label>Link</label>
                  <input type="text" class="form-control" ng-model="tema.sadrzaj" placeholder="Ubacite link"/>
              </div>


              <div class="button-holder">
                <div class="col-md-4">
                  <button type="submit" class="btn button-green" ng-click="dodajTemu(tema)">Dodaj</button>
                  </div>
                  

                <div class="col-md-4">
                  <button type="button" class="btn button-cancel" ng-click="dodavanjeTemePopupVisible = !dodavanjeTemePopupVisible">Zatvori</button>
                </div>
              
              </div>
              
            </div>
        </div>
  </div>
</div>
