@{ 
    Layout = null;
}
<html ng-app="webForum">
<head>
    <title>Pocetna</title>
    <link rel="stylesheet" href="../../Content/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../Content/css/app.css" type="text/css" />
</head>
<body>
    <h1>CEO APP</h1>
    <div ng-view></div>

    <script src="../../Scripts/js/angular.min.js"></script>
    <script src="../../Scripts/js/angular-route.min.js"></script>
    <script src="../../SPA/app.js"></script>
</body>

</html>