@{ 
    Layout = null;
}
<html ng-app="webForum">
<head>
    <title>Web forum</title>
    <link rel="stylesheet" href="../../Content/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../Content/css/app.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="../../Content/css/ionicons.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default" ng-controller="MainController">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#!/podforumi">Web Forum</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-show="ulogovan" ng-class="checkActive('/pocetna')"><a href="#!/pocetna"><i class="ion ion-android-home"></i> Početna</a></li>
                        <li ng-class="checkActive('/podforumi')"><a href="#!/podforumi"><i class="ion ion-ios-albums"></i> Podforumi</a></li>
                        <li ng-class="checkActive('/pretraga')"><a href="#!/pretraga"><i class="ion ion-ios-search-strong"></i> Pretraga</a></li>
                        <li ng-show="korisnik.uloga == 'Administrator'" ng-class="checkActive('/promenaTipa')"><a href="#!/promenaTipa"><i class="ion ion-lock-combination"></i> Promena tipa</a></li>
                        <li ng-show="ulogovan" ng-class="checkActive('/preporuke')"><a href="#!/preporuke"><i class="ion ion-usb"></i> Preporuke</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="!ulogovan" ng-class="checkActive('/login')"><a href="#!/login">Login</a></li>
                        <li ng-show="!ulogovan" ng-class="checkActive('/register')"><a href="#!/register">Registracija</a></li>
                        <li ng-show="korisnik.uloga == 'Administrator' || korisnik.uloga == 'Moderator'" ng-class="checkActive('/zalbe')"><a href="#!/zalbe"><i class="ion ion-alert-circled"></i> Žalbe</a></li>
                        <li ng-show="ulogovan"><a href="#!/profil/{{korisnik.username}}"><i class="ion ion-person"></i> {{korisnik.imePrezime}}</a></li>
                        <li ng-show="ulogovan"><a href ng-click="Logout()"><i class="ion ion-log-out"></i> Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div ng-view></div>
    </div>
    
    <script src="../../Scripts/js/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/js/bootstrap.min.js"></script>
    <script src="../../Scripts/js/angular.min.js"></script>
    <script src="../../Scripts/js/angular-route.min.js"></script>
    <script src="../../SPA/app.js"></script>
    <!--Controllers-->
    <script src="../../SPA/controllers/podforumi/PodforumiController.js"></script>
    <script src="../../SPA/controllers/podforumi/PodforumController.js"></script>
    <script src="../../SPA/controllers/PocetnaController.js"></script>
    <script src="../../SPA/controllers/LoginController.js"></script>
    <script src="../../SPA/controllers/MainController.js"></script>
    <script src="../../SPA/controllers/ProfilController.js"></script>
    <script src="../../SPA/controllers/teme/TemaController.js"></script>
    <script src="../../SPA/controllers/PretragaController.js"></script>
    <script src="../../SPA/controllers/PromenaTipaController.js"></script>
    <script src="../../SPA/controllers/ZalbeController.js"></script>
    <script src="../../SPA/controllers/PreporukeController.js"></script>
    <!--Factories-->
    <script src="../../SPA/services/AccountFactory.js"></script>
    <script src="../../SPA/services/PodforumiFactory.js"></script>
    <script src="../../SPA/services/TemeFactory.js"></script>
    <script src="../../SPA/services/KomentariFactory.js"></script>
    <script src="../../SPA/services/SearchFactory.js"></script>
    <script src="../../SPA/services/PorukeFactory.js"></script>
    <script src="../../SPA/services/ZalbeFactory.js"></script>
    <script src="../../SPA/services/PreporukeFactory.js"></script>
    <!--Directives-->
    <script src="../../SPA/directives/fileUploadDirective.js"></script>
</body>

</html>