.holder{
  position: relative;
}
.podforumi-header{
  width: 100%;
  text-align: center;
  position: relative;
  
  .add-podforum-btn{
    position: absolute;
    top: 20px;
    left: 50px;
    font-weight: 500;
  }
}
.podforumi-wrapper{
  margin-top: 50px;

  .col-md-3{
    margin-top: 40px;
  }
}
.podforum{
  background: #fff;
  box-shadow: 1px 2px 80px -18px rgba(0, 0, 0, 0.6);
  height: 180px;
  border-radius: 4px;
  text-align: left;
  transition: 0.2s ease;
  overflow: hidden;

  .heder{
    width: 100%;
    height: 80px;
    border-radius: 4px 4px 0 0;
    background: $blue;
    text-align: center;
    color: #fff;
    padding-top: 10px;

    h3{
      font-size: 1.2em;
    }

  }
  .telo{

    .levo{
      float:left;
      width:30%;

      img{
        width: 100%;
        height: 100px;
      }
    }
    .desno{
      color: #999999;
      font-size: 0.85em;
      float:left;
      width: 70%;
      padding: 10px;
    }
  }
}

.podforum:hover{
  transform: scale(1.03);
}

// Pregled jednog podforuma

.podforum-header{
  width: 100%;
  text-align: center;
  background: #000;
  color: #fff;
  height: 250px;
  overflow: hidden;

  .abs{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 250px;
    padding-top: 60px;
  }

  .podforum-bg{
    position: relative;
    width: 100%;
    overflow: hidden;

    img{
      width: 100%;
      height: 200%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

.container-fluid{
  .content-wrapper{
    margin-top: 20px;

    .button-success{
      padding-top: 15px;
    }
    input.form-control{
      width: 500px;
    }
    .teme{
      padding-top: 50px;
    a{
      text-decoration: none !important;
      .tema{
      position: relative;
      width: 100%;
      height: 150px;
      background: #ffffff;
      margin-top: 30px;
      border-radius: 4px;
      box-shadow: 1px 2px 60px -18px rgba(0, 0, 0, 0.6);
      padding: 10px 150px 10px 150px;
      transition: 0.2s ease;
      color: #000;
      border: 1px solid #ccc;
      

      p{
        font-size: 0.8em;
        color: lighten($mainText,10);
        margin: 3px;
      }

      .glasovi{
        position: absolute;
        top: 5px;
        left: 30px;
        height: 120px;
        width: 50px;
        i{
          transition: 0.2s ease;
          color: $mainText;
          cursor: pointer;
        }

        .thumbsnum{
          font-size: 1.1em !important;
        }

        .up{
          width:50px;
          padding: 10px 10px 10px 10px;
          i{
            font-size: 2em;
          }
          i:hover{
          color: $green;
        }
        }
        .down{
          width:50px;
          padding: 0px 10px 10px 10px;
          i{
            font-size: 2em;
          }
          i:hover{
          color: $red;
        }
        }
      }
    }
  }
    .tema:hover{
      background: $blue;
      color: #fff;
      .up{
        i{
        color: #fff;
        }
      }
      .down{
        i{
        color: #fff;
        }
      }
      p{
        color: #fff;
      }
    }
  }
  }
  .strana{
    padding-top: 80px;
    .box{
      width: 100%;
      min-height: 200px;
      max-height: auto;
      background: #fff;
      border-radius: 4px;
      box-shadow: 1px 2px 60px -18px rgba(0, 0, 0, 0.6);
      border: 1px solid #ccc;
      margin-bottom: 40px;

      .header{
        width: 100%;
        border-radius: 4px 4px 0 0;
        background: $blue;
        text-align: center;
        padding: 7px 0 7px 0;
        color: #fff;
        
        h4{
          font-size: 1.02em;
        }
      }
      .body{
        padding: 30px;
        overflow: hidden;
        p{
          font-size: 0.92em;
        }
      }
      .body-moderatori{
        padding: 30px;
        overflow: hidden;
        ul{
          padding: 0;
          a{
            color: $blue;
            li{
              padding: 5px 0 5px 0;
              list-style-type: none;
            }
          }
          
        }
      }
    }
  }
}