@import "variables.scss";
@import "partials/loginregister.scss";
@import "components/buttons.scss";
@import "partials/podforumi.scss";

*{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.01em;
}
body{
  padding: 0;
  margin: 0;
  background: url("../img/bg.png");
}
.navbar, .navbar-default {
  background: $navbarColor !important;
  border-radius: 0px;
  //height: 70px;
  //padding-top: 10px;
  border: 0px solid transparent;
  border-bottom: 2px solid darken($navbarColor,5);
  margin-bottom: 0 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: none !important;
  color: $blue !important;
}
.navbar-default .navbar-brand {
  color: $blue;
}
.active{
  border-bottom: 2px solid $blue !important;
  background: transparent !important;
  color: $blue !important;
}
input{
  height: 50px !important;
  box-shadow: none !important;
}
input:focus{
  border: 2px solid $blue !important;
}