@import "variables.scss";
@import "partials/loginregister.scss";

*{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.01em;
}
body{
  padding: 0;
  margin: 0;
}
.navbar, .navbar-default {
  background: $navbarColor !important;
  border-radius: 0px;
  //height: 70px;
  //padding-top: 10px;
  border: 0px solid transparent;
  border-bottom: 2px solid darken($navbarColor,5);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: none !important;
  color: $activeLink !important;
}
.active{
  border-bottom: 2px solid $activeLink !important;
  background: transparent !important;
  color: $activeLink !important;
}