<div class="tema-header">
  <h1>Naslov</h1>
  <h3>Autor: autor</h3>
  <h3>Kreirana: na taj datum</h3>
  <h4><span><i class="ion ion-thumbsup"></i> Lajkovalo: 100</span><span><i class="ion ion-thumbsdown"></i> Dislajkovalo: 100</span></h4>
  <button class="btn btn-warning" ng-show="ulogovan"><i class="ion ion-archive"></i> Sačuvaj</button>
  <button class="btn btn-danger" ng-show="korisnik.uloga.includes('Administrator')"> <i class="ion ion-trash-b"></i> Obriši</button>
  <button class="btn btn-info" ng-show="korisnik.uloga.includes('Administrator')"><i class="ion ion-edit"></i> Izmeni</button>
</div>
<div class="tema-sadrzaj">
  <h4>[Tekst]</h4>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like A
    <br><br>ldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
</div>

<div class="container-fluid">
  <div class="col-md-10">
    <h2>Komentari</h2>
    <div class="komentari">
    <div class="komentar-repeat">
      <div class="komentar">
        <div class="korisnik">
          <div class="glasovi">
            <div class="up">
              <i class="ion ion-thumbsup"></i>
              <div class="thumbsnum">200</div>
            </div>
            <div class="down">
              <i class="ion ion-thumbsdown"></i>
              <div class="thumbsnum">200</div>
            </div>
          </div>
          <h5><b>korisnickoime</b> <span>datumKomentarisanja</span></h5>
          <p>
            Tekst komentara
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</div>