<div class="tema-header">
  <h2>{{tema.Naslov}}</h2>
  <h3>Autor: <a href="#!/profil/{{tema.Autor}}">{{tema.Autor}}</a></h3>
  <h3>Kreirana: {{tema.DatumKreiranja}}</h3>
  <h4><span><i class="ion ion-thumbsup"></i> Lajkovalo: {{tema.PozitivniGlasovi}}</span><span><i class="ion ion-thumbsdown"></i> Dislajkovalo: {{tema.NegativniGlasovi}}</span></h4>
  <button class="btn btn-warning" ng-show="ulogovan" ng-click="zapratiTemu(korisnik.username)"><i class="ion ion-archive"></i> Zaprati</button>
  <button class="btn btn-danger" ng-show="korisnik.uloga.includes('Administrator') || korisnik.username == tema.Autor || (JeUListiModeratora && korisnik.uloga == 'Moderator')" ng-click="obrisiTemu(tema)"> <i class="ion ion-trash-b"></i> Obriši</button>
  <button class="btn btn-info" ng-show="korisnik.uloga.includes('Administrator') || korisnik.username == tema.Autor || (JeUListiModeratora && korisnik.uloga == 'Moderator')" ng-click="showIzmenaPopupWindow()"><i class="ion ion-edit"></i> Izmeni</button>
  <button ng-click="zalbaModalVisible = !zalbaModalVisible" ng-show="(korisnik.uloga == 'Korisnik' && tema.Autor != korisnik.username) || (korisnik.uloga == 'Moderator' && tema.Autor != korisnik.username)" class="btn btn-danger"> <i class="ion ion-alert-circled"></i> Priloži žalbu</button>
</div>
<div class="tema-sadrzaj">
  <h4 ng-show="tema.Tip == 'Tekst'">[Tekst]</h4>
  <h4 ng-show="tema.Tip == 'Link'">[Link]</h4>
  <h4 ng-show="tema.Tip == 'Slika'">[Slika]</h4>
  <p ng-show="tema.Tip == 'Tekst'">{{tema.Sadrzaj}}</p>
  <a ng-show="tema.Tip == 'Link'" href="{{tema.Sadrzaj}}" target="_blank">{{tema.Sadrzaj}}</a>
  <img class="slika-teme" src="Content/img/teme/{{tema.Sadrzaj}}" alt="" ng-show="tema.Tip == 'Slika'">
</div>

<div class="container-fluid">
  <div class="col-md-10 odvojiOdDoleLevo">
    <h2>Komentari</h2>
    <div class="komentari">

    <div class="komentar-repeat" ng-repeat="komentar in komentari">
      <div class="komentar" ng-show="!komentar.Obrisan">
        <div class="korisnik">
          <div class="dugmici">
            <div class="btn btn-warning" ng-show="ulogovan" ng-click="sacuvajKomentar(komentar.Id,korisnik.username)">Sačuvaj</div>
            <div class="btn btn-info" ng-show="korisnik.uloga == 'Administrator' || (JeUListiModeratora && korisnik.uloga == 'Moderator') || korisnik.username == komentar.Autor" ng-click="setKomentarZaIzmenu(komentar)">Izmeni</div>
            <div class="btn btn-danger" ng-show="korisnik.uloga == 'Administrator' || (podforumUKomeSeTemaNalazi.OdgovorniModerator == korisnik.username && korisnik.uloga == 'Moderator') || korisnik.username == komentar.Autor" ng-click="obrisiKomentar(komentar)">Obriši</div>
            <button ng-click="setKomentarZaZalbu(komentar)" ng-show="(korisnik.uloga == 'Korisnik' && komentar.Autor != korisnik.username) || (korisnik.uloga == 'Moderator' && tema.Autor != korisnik.username)" class="btn btn-danger"> <i class="ion ion-alert-circled"></i> Priloži žalbu</button>
          </div>
          <div class="glasovi">
            <div class="up">
              <i class="ion ion-thumbsup" ng-click="thumbsUp(komentar)"></i>
              <div class="thumbsnum">{{komentar.PozitivniGlasovi}}</div>
            </div>
            <div class="down">
              <i class="ion ion-thumbsdown" ng-click="thumbsDown(komentar)"></i>
              <div class="thumbsnum">{{komentar.NegativniGlasovi}}</div>
            </div>
          </div>
          <h5><b><a href="#!/profil/{{komentar.Autor}}">{{komentar.Autor}}</a></b> <span>{{komentar.DatumKomentara}}</span> <span class="izmenjen" ng-show="komentar.Izmenjen">izmenjen</span></h5>
          <p>
            {{komentar.Tekst}}
          </p>
        </div>
      </div>
      <div ng-show="!komentar.Obrisan && ulogovan" class="odgovoriNaKomentarButton">
        <div class="btn button-success" ng-hide="prikazanKomentar == komentar.Id" ng-click="prikazanKomentar = komentar.Id">Odgovori na komentar</div>
      </div>
      <div class="odgovoriNaKomentar" ng-show="prikazanKomentar == komentar.Id">
        <h5>Odgovori na komentar</h5>
        <div class="form-group">
          <textarea class="form-control" placeholder="Odgovorite na ovaj komentar..." ng-model="podkomentar.tekstKomentara"></textarea>
        </div>
        <button class="btn button-green" ng-click="dodajPodkomentar(komentar.Id,podkomentar.tekstKomentara,tema.PodforumKomePripada,tema.Naslov)"><i class="ion ion-reply"></i> Odgovori</button>
      </div>

      <div class="podkomentari" ng-show="!komentar.Obrisan"> 
        <h5 ng-show="komentar.Podkomentari.length != 0">Podkomentari</h5>
        <div class="podkomentari-repeat" ng-repeat="podkomentar in komentar.Podkomentari">

          <div class="podkomentar" ng-show="!podkomentar.Obrisan">
            <div class="korisnik">
              <div class="dugmici">
                <div class="btn btn-warning" ng-show="ulogovan" ng-click="sacuvajKomentar(podkomentar.Id,korisnik.username)">Sačuvaj</div>
                <div class="btn btn-info" ng-show="korisnik.uloga == 'Administrator' || (JeUListiModeratora && korisnik.uloga == 'Moderator') || korisnik.username == podkomentar.Autor" ng-click="setPodkomentarZaIzmenu(podkomentar)">Izmeni</div>
                <div class="btn btn-danger" ng-show="korisnik.uloga == 'Administrator' || (podforumUKomeSeTemaNalazi.OdgovorniModerator == korisnik.username && korisnik.uloga == 'Moderator') || korisnik.username == podkomentar.Autor" ng-click="obrisiPodkomentar(podkomentar)">Obriši</div>
                <button ng-click="setPodkomentarZaZalbu(podkomentar)" ng-show="(korisnik.uloga == 'Korisnik' && podkomentar.Autor != korisnik.username) || (korisnik.uloga == 'Moderator' && tema.Autor != korisnik.username)" class="btn btn-danger"> <i class="ion ion-alert-circled"></i> Priloži žalbu</button>
              </div>
              <div class="glasovi">
                <div class="up">
                  <i class="ion ion-thumbsup" ng-click="thumbsUp(podkomentar)"></i>
                  <div class="thumbsnum">{{podkomentar.PozitivniGlasovi}}</div>
                </div>
                <div class="down">
                  <i class="ion ion-thumbsdown" ng-click="thumbsDown(podkomentar)"></i>
                  <div class="thumbsnum">{{podkomentar.NegativniGlasovi}}</div>
                </div>
              </div>
              <h5><b><a href="#!/profil/{{podkomentar.Autor}}">{{podkomentar.Autor}}</a></b> <span>{{podkomentar.DatumKomentara}}</span> <span class="izmenjen" ng-show="podkomentar.Izmenjen">izmenjen</span></h5>
              <p>
                {{podkomentar.Tekst}}
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="ostaviKomentar" ng-show="ulogovan"> 
      <div class="form-group">
          <label>Ostavi komentar:</label>
          <textarea type="text" class="form-control" placeholder="Ostavi komentar na ovu temu..." ng-model="tekstKomentara"></textarea>
      </div>
      <div class="col-md-3">
        <button class="btn button-success" ng-click="komentarisiTemu(tema.PodforumKomePripada,tema.Naslov,tekstKomentara)"><i class="ion ion-compose"></i> Komentariši</button>
      </div>
    </div>
    <div ng-show="!ulogovan"><h4>Ulogujte se da bi ste komentarisali</h4></div>
  </div>
  </div>
  
</div>

<div id="IzmenaModal" ng-show="komentarZaIzmenu != '' ">
  <div class="overlay">
    <div class="addNew-wrapper">
      <div class="header">
        Izmeni komentar
        </div> 
        <div class="popup-body">
          <div class="form-group">
            <label>Izmeni komentar:</label>
            <textarea type="text" class="form-control" placeholder="Izmeni sadrzaj komentara..." ng-model="tekstKomentaraZaIzmenu"></textarea>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success" ng-click="izmeniKomentar(komentarZaIzmenu,tekstKomentaraZaIzmenu,korisnik.uloga)">Izmeni</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-default" ng-click="komentarZaIzmenu = '';tekstKomentaraZaIzmenu='';">Zatvori</button>
          </div>
        </div>
        
    </div>
  </div>
</div>

<div id="IzmenaModal" ng-show="podkomentarZaIzmenu != '' ">
  <div class="overlay">
    <div class="addNew-wrapper">
      <div class="header">
        Izmeni komentar
        </div> 
        <div class="popup-body">
          <div class="form-group">
            <label>Izmeni komentar:</label>
            <textarea type="text" class="form-control" placeholder="Izmeni sadrzaj komentara..." ng-model="tekstPodkomentaraZaIzmenu"></textarea>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success" ng-click="izmeniPodkomentar(podkomentarZaIzmenu,tekstPodkomentaraZaIzmenu,korisnik.uloga)">Izmeni</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-default" ng-click="podkomentarZaIzmenu = ''; tekstPodkomentaraZaIzmenu='';">Zatvori</button>
          </div>
        </div>
        
    </div>
  </div>
</div>

<div id="IzmenaModal" ng-show="izmenaModalWindowVisible">
  <div class="overlay">
    <div class="addNew-wrapper">
      <div class="header">
        Izmeni temu
        </div> 
        <div class="popup-body">
          <div class="form-group" ng-show="tema.Tip == 'Tekst'">
            <label>Izmeni tekstualni sadrzaj:</label>
            <textarea type="text" ng-model="noviSadrzajTeme" class="form-control" placeholder="Izmeni sadrzaj teme..."></textarea>
          </div>
          <div class="form-group" ng-show="tema.Tip == 'Link'">
            <label>Izmeni sadrzaj linka:</label>
            <input type="text" ng-model="noviSadrzajTeme" class="form-control" />
          </div>
          <div class="form-group" ng-show="tema.Tip == 'Slika'">
            <label>Izmeni sadrzaj linka:</label>
            <input type="file" class="form-control"/>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success" ng-click="izmeniTemu(tema,noviSadrzajTeme)">Izmeni</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-default" ng-click="izmenaModalWindowVisible = !izmenaModalWindowVisible">Zatvori</button>
          </div>
        </div>
        
    </div>
  </div>
</div>


<div id="IzmenaModal" ng-show="zalbaModalVisible">
  <div class="overlay">
    <div class="addNew-wrapper">
      <div class="header">
        Priloži žalbu
        </div> 
        <div class="popup-body">
          <div class="form-group">
            <label>Žalba</label>
            <textarea type="text" ng-model="zalba.tekst" class="form-control" placeholder="Opisite vasu zalbu..."></textarea>
          </div>
          <div class="btn btn-success" ng-click="priloziZalbuNaTemu(zalba)">Pošalji</div>
            <div class="btn btn-default" ng-click="zalbaModalVisible = !zalbaModalVisible">Zatvori</div>
        </div>
            
    </div>
  </div>
</div>


<div id="IzmenaModal" ng-show="zalbaKomentarModalVisible">
  <div class="overlay">
    <div class="addNew-wrapper">
      <div class="header">
        Priloži žalbu
        </div> 
        <div class="popup-body">
          <div class="form-group">
            <label>Žalba</label>
            <textarea type="text" ng-model="zalbaKomentar.tekst" class="form-control" placeholder="Opisite vasu zalbu..."></textarea>
          </div>
          <div class="btn btn-success" ng-click="priloziZalbuNaKomentar(zalbaKomentar)">Pošalji</div>
            <div class="btn btn-default" ng-click="zalbaKomentarModalVisible = !zalbaKomentarModalVisible">Zatvori</div>
        </div>
            
    </div>
  </div>
</div>

<div id="IzmenaModal" ng-show="zalbaPodkomentarModalVisible">
  <div class="overlay">
    <div class="addNew-wrapper">
      <div class="header">
        Priloži žalbu
        </div> 
        <div class="popup-body">
          <div class="form-group">
            <label>Žalba</label>
            <textarea type="text" ng-model="zalbaPodkomentar.tekst" class="form-control" placeholder="Opisite vasu zalbu..."></textarea>
          </div>
          <div class="btn btn-success" ng-click="priloziZalbuNaPodkomentar(zalbaPodkomentar)">Pošalji</div>
            <div class="btn btn-default" ng-click="zalbaPodkomentarModalVisible = !zalbaPodkomentarModalVisible">Zatvori</div>
        </div>
            
    </div>
  </div>
</div>