<div class="tema-header">
  <h2>{{tema.Naslov}}</h2>
  <h3>Autor: <a href="#!/profil/{{tema.Autor}}">{{tema.Autor}}</a></h3>
  <h3>Kreirana: {{tema.DatumKreiranja}}</h3>
  <h4><span><i class="ion ion-thumbsup"></i> Lajkovalo: {{tema.PozitivniGlasovi}}</span><span><i class="ion ion-thumbsdown"></i> Dislajkovalo: {{tema.NegativniGlasovi}}</span></h4>
  <button class="btn btn-warning" ng-show="ulogovan"><i class="ion ion-archive"></i> Sačuvaj</button>
  <button class="btn btn-danger" ng-show="korisnik.uloga.includes('Administrator')"> <i class="ion ion-trash-b"></i> Obriši</button>
  <button class="btn btn-info" ng-show="korisnik.uloga.includes('Administrator')"><i class="ion ion-edit"></i> Izmeni</button>
</div>
<div class="tema-sadrzaj">
  <h4 ng-show="tema.Tip == 'Tekst'">[Tekst]</h4>
  <h4 ng-show="tema.Tip == 'Link'">[Link]</h4>
  <h4 ng-show="tema.Tip == 'Slika'">[Slika]</h4>
  <p ng-show="tema.Tip == 'Tekst'">{{tema.Sadrzaj}}</p>
  <a ng-show="tema.Tip == 'Link'" href="{{tema.Sadrzaj}}" target="_blank">{{tema.Sadrzaj}}</a>
  <img class="slika-teme" src="Content/img/teme/{{tema.Sadrzaj}}" alt="" ng-show="tema.Tip == 'Slika'">
</div>

<div class="container-fluid">
  <div class="col-md-10 odvojiOdDoleLevo">
    <h2>Komentari</h2>
    <div class="komentari">

    <div class="komentar-repeat" ng-repeat="komentar in komentari">
      <div class="komentar" ng-show="!komentar.Obrisan">
        <div class="korisnik">
          <div class="glasovi">
            <div class="up">
              <i class="ion ion-thumbsup"></i>
              <div class="thumbsnum">{{komentar.PozitivniGlasovi}}</div>
            </div>
            <div class="down">
              <i class="ion ion-thumbsdown"></i>
              <div class="thumbsnum">{{komentar.NegativniGlasovi}}</div>
            </div>
          </div>
          <h5><b><a href="#!/profil/{{komentar.Autor}}">{{komentar.Autor}}</a></b> <span>{{komentar.DatumKomentara}}</span> <span class="izmenjen" ng-show="komentar.Izmenjen">izmenjen</span></h5>
          <p>
            {{komentar.Tekst}}
          </p>
        </div>
      </div>
      <div class="odgovoriNaKomentarButton">
        <div class="btn button-success" ng-hide="prikazanKomentar == komentar.Id" ng-click="prikazanKomentar = komentar.Id">Odgovori na komentar</div>
      </div>
      <div class="odgovoriNaKomentar" ng-show="prikazanKomentar == komentar.Id">
        <h5>Odgovori na komentar</h5>
        <div class="form-group">
          <textarea class="form-control" placeholder="Napišite komentar" ng-model="podkomentar.tekstKomentara"></textarea>
        </div>
        <button class="btn button-green" ng-click="dodajPodkomentar(komentar.Id,podkomentar.tekstKomentara)">Odgovori</button>
      </div>

      <div class="podkomentari"> 
        <h5 ng-show="komentar.Podkomentari.length != 0">Podkomentari</h5>
        <div class="podkomentari-repeat" ng-repeat="podkomentar in komentar.Podkomentari">

          <div class="podkomentar">
            <div class="korisnik">
              <div class="glasovi">
                <div class="up">
                  <i class="ion ion-thumbsup"></i>
                  <div class="thumbsnum">{{podkomentar.PozitivniGlasovi}}</div>
                </div>
                <div class="down">
                  <i class="ion ion-thumbsdown"></i>
                  <div class="thumbsnum">{{podkomentar.NegativniGlasovi}}</div>
                </div>
              </div>
              <h5><b><a href="#!/profil/{{podkomentar.Autor}}">{{podkomentar.Autor}}</a></b> <span>{{podkomentar.DatumKomentara}}</span> <span class="izmenjen" ng-show="podkomentar.Izmenjen">izmenjen</span></h5>
              <p>
                {{podkomentar.Tekst}}
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="ostaviKomentar" ng-show="ulogovan"> 
      <div class="form-group">
          <label>Ostavi komentar:</label>
          <textarea type="text" class="form-control" placeholder="Ostavi komentar na ovu temu..." ng-model="tekstKomentara"></textarea>
      </div>
      <div class="col-md-3">
        <button class="btn button-success" ng-click="komentarisiTemu(tema.PodforumKomePripada,tema.Naslov,tekstKomentara)">Komentariši</button>
      </div>
    </div>
    <div ng-show="!ulogovan"><h4>Ulogujte se da bi ste komentarisali</h4></div>
  </div>
  </div>
  
</div>