<div class="container-fluid" ng-show="ulogovan">
  <div class="podforumi-header">
      <div class="userProfileDetails">
        <h2><span>{{userProfile.Ime}} {{userProfile.Prezime}} ({{userProfile.Username}})</span></h2>
            <h4>{{userProfile.Uloga}}</h4>
            <h4>{{userProfile.Email}}</h4>
            <h4>Telefon: {{userProfile.Telefon}}</h4>
            <h4>Registrovao se: {{userProfile.DatumRegistracije}}</h4>
            <button ng-show="korisnik.username != userProfile.Username" ng-click="showPorukaPopup = !showPorukaPopup" class="btn btn-info"><i class="ion ion-paper-airplane"></i> Pošalji poruku</button>
      </div>
    </div>

    <div class="profile-content">
        <div class="col-md-12">
            <div class="row">
            <div class="col-md-3">
                <div class="spisak">
                    <h4>Praćeni podforumi</h4>
                    <div class="repeat-podforumi" ng-repeat="podforum in sacuvaniPodforumi | orderBy:'-'">
                        <a href="#!/podforumi/{{podforum.Naziv}}">
                            <div class="item">
                                <h5>{{podforum.Naziv}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="spisak">
                    <h4>Snimljene teme</h4>
                    <div class="repeat-teme" ng-repeat="tema in sacuvaneTeme | orderBy:'-'">
                        <a href="#!/podforumi/{{tema.PodforumKomePripada}}/{{tema.Naslov}}">
                            <div class="item">
                                <h5>{{tema.PodforumKomePripada}} - {{tema.Naslov}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="spisak">
                    <h4>Snimljeni komentari</h4>
                    <div class="repeat-teme" ng-repeat="komentar in sacuvaniKomentari | orderBy:'-'">
                        <a>
                            <div class="item">
                                <p>{{komentar.Tekst}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-show="userProfile.Username == korisnik.username">
                <div class="spisak">
                    <h4>Primljene poruke</h4>
                    <div class="repeat-teme" ng-repeat="poruka in primljenePoruke | orderBy:'-'">
                        <a>
                            <div class="item nohover">
                                <h5><a href="#!/profil/{{poruka.Posiljalac}}">{{poruka.Posiljalac}}</a></h5>
                                <p>{{poruka.Sadrzaj}}</p>
                                <span ng-show="poruka.Procitana" class="label label-success">Pročitano</span>
                                <span ng-click="markirajKaoProcitano(poruka)" ng-show="!poruka.Procitana" class="label label-warning">Markiraj kao pročitano</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-3">
                <div class="spisak">
                    <h4><i class="ion ion-thumbsup"></i> Lajkovani entiteti</h4>
                    <div class="repeat-teme" ng-repeat="lajkovanaTema in listaLajkovanihTema | orderBy:'-'">
                        <a>
                            <div class="item">
                                <p>{{lajkovanaTema}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            

            <div class="col-md-3">
                <div class="spisak">
                    <h4><i class="ion ion-thumbsdown"></i> Dislajkovani entiteti</h4>
                    <div class="repeat-teme" ng-repeat="dislajkovanaTema in listaDislajkovanihTema | orderBy:'-'">
                        <a>
                            <div class="item">
                                <p>{{dislajkovanaTema}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid" ng-show="!ulogovan">
    <h1><center>Molimo vas ulogujte se kako bi ste mogli da gledate korisnicke profile</center></h1>
</div>

<div id="IzmenaModal" ng-show="showPorukaPopup">
  <div class="overlay">
    <div class="addNew-wrapper">
      <div class="header">
        Pošalji poruku
        </div> 
        <div class="popup-body">
          <div class="form-group">
            <label>Poruka</label>
            <textarea type="text" ng-model="poruka.sadrzaj" class="form-control" placeholder="Sadrzaj poruke..."></textarea>
          </div>
          <div class="btn btn-success" ng-click="posaljiPoruku(poruka)">Pošalji</div>
          <div class="btn btn-default" ng-click="showPorukaPopup = !showPorukaPopup">Zatvori</div>

        </div>
        
    </div>
  </div>
</div>