<div class="registerWindow">
  <div class="header">
    <h2>Registracija</h2>
  </div>
  <div class="body">
      <div class="form-group">
        <input type="text" class="form-control" id="username" ng-model="korisnik.username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="ime" ng-model="korisnik.ime" placeholder="Ime">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="prezime" ng-model="korisnik.prezime" placeholder="Prezime">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="kontaktTelefon" ng-model="korisnik.kontaktTelefon" placeholder="Kontakt telefon">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="email" ng-model="korisnik.email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="pwd" ng-model="korisnik.pwd" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="pwd2" ng-model="korisnik.pwd2" placeholder="Potvrdi password">
      </div>
      <br>
      <button type="submit" class="btn button-success" ng-click="RegistrujKorisnika(korisnik)">Registracija</button>
  </div>
</div>
